

h1 {
    font-size: 60px;
    font-family: DigitalClock;
    width: 550px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: red;
    border: solid 5px darkgray;
    background-color: black;
    /* how can I get these to vertically center? */
}

.MilitaryTimeButton {
    display: flex;
    margin-top: 25px;
    margin-left: 270px;

}

main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}